{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
<p>Félicitations, vous avez terminé l'aventure!</p>
<p>Vous avez assuré grave est de bon aloi.</p>

<a href="{{ path('app_jouer') }}">Relancer le jeu</a>
{% endblock %}