@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background: url(/assets/images/fond_accueil.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
